// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  body, html {
    font-size: 14px !important;
  }
}

// MIXINGS

@mixin vertical-centered {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@mixin horizontal-centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// EXTENDS

%card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 24px 32px rgba(12, 0, 51, 0.1);
}

.card {
  @extend %card;
}

%ion-icons {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

%content {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

%fade-in {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: visibility 0s .6s, opacity .6s ease-in-out;
  &.active {
    visibility: visible;
    position: relative;
    opacity: 1;
    transition: opacity .6s linear;
  }
}

%default-text {
  font-family: $font-family-sans-serif;
  font-size: $font3;
}

// CLASSESS

.video-wrapper {
  @include aspect-ratio(16, 9);
}
